body {
  width: 100%;
  color: black;
}
.navbar {
  border-bottom: 0.5px solid black;
  width: 100%;
  z-index: 100;
}
.navbar-brand {
  left: 40px;
  position: relative;
  width: 200px;
  border-right: 1px solid black;
}
.navbar-brand img {
  width: 200px;
  padding-right: 10%;
}
.navbar a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar span {
  padding-right: 5%;
}
.page--item {
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #000;
}
.page--item h2 {
  padding-left: 2rem;
  font-size: 1.3rem;
}
.page--item span {
  font-size: 1.8rem;
  padding-right: 5%;
}
.page--item p {
  font-weight: 700;
  padding-left: 10%;
  font-size: 1.8rem;
}
.page--item_left:hover {
  background-color: black;
  color: white;
}
.page--item_right:hover {
  background-color: black;
  color: white;
}
.page--item_left {
  width: 50%;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  color: #000;
}
@media screen and (max-width: 600px) {
  .page--item_left {
    width: 100%;
  }
}
.page--item_right {
  width: 50%;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  float: right;
  color: #000;
}
@media screen and (max-width: 600px) {
  .page--item_right {
    width: 100%;
  }
}
.page--item_inner {
  display: flex;
  padding-top: 0.72rem;
  padding-bottom: 1.16rem;
}
.inner--content {
  width: 100%;
}
.inner--content img {
  background-size: cover;
  background-position: 50%;
  margin-top: 0.52rem;
  margin-bottom: 1.12rem;
  padding: 10%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
* {
  box-sizing: border-box;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  bottom: 0;
  width: 0%;
  overflow: hidden;
  height: 13rem;
  background-color: white;
  padding-left: 100%;
  box-sizing: content-box;
  border-bottom: 1px solid black;
  overflow-x: hidden;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 15rem;
  line-height: 13rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  font-size: 20rem;
  color: white;
}
.ticker-wrap:hover {
  background-color: black;
}
.ticker--unten .ticker-wrap {
  bottom: 0;
  width: 0%;
  overflow: hidden;
  overflow-x: hidden;
  height: 13rem;
  background-color: white;
  box-sizing: content-box;
  color: #000;
  border-bottom: none;
}
.ticker--unten .ticker-wrap:hover {
  background-color: white;
  color: #000;
}
.info {
  border-top: 1px solid black;
}
.info h3 {
  font-size: 20vw;
  padding: 4%;
}
@media screen and (max-width: 600px) {
  .info h3 {
    font-size: 60vw;
  }
}
.info .col:nth-child(1) {
  border-right: 1px solid black;
}
.info .col:nth-child(2) {
  border-right: 1px solid black;
}
.info .row {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    float: left;
    max-width: 100%;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .info .col:nth-child(1) {
    border-right: 1px solid white;
  }
}
@media screen and (max-width: 600px) {
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 100%;
    margin-bottom: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .info .col:nth-child(2) {
    border-right: 1px solid white;
    border-top: 1px solid black;
  }
}
.info p {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .info p {
    font-size: 3rem;
    margin-top: 10%;
  }
}
.info span {
  padding-right: 7%;
}
form {
  background-color: #000;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.btn {
  background-color: black;
  border-radius: 0px;
  width: 30vw;
  border-color: white;
  color: white;
  margin-top: 2%;
  max-height: 70px;
  margin-left: 20%;
}
.btn:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}
@media screen and (max-width: 600px) {
  .btn {
    width: 60vw;
    margin-left: 5%;
  }
}
form label {
  color: white;
  text-align: left;
  padding-top: 5%;
  font-size: 4vh;
  padding-left: 20%;
}
footer span {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 5%;
  padding-left: 2%;
}
@media screen and (max-width: 600px) {
  .footer span {
    padding-left: 0%;
  }
}
@media screen and (max-width: 600px) {
  form label {
    padding-left: 5%;
  }
}
